<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Quyền cần thiết để ghi âm thanh từ micrô -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--
        Quyền WRITE_EXTERNAL_STORAGE và READ_EXTERNAL_STORAGE chỉ cần thiết cho API cấp 28 trở xuống.
        Nếu ứng dụng của bạn nhắm mục tiêu API 29 trở lên và bạn đang lưu trữ tệp trong thư mục riêng của ứng dụng (ví dụ: context.cacheDir),
        thì bạn không cần các quyền này.
        Nếu bạn cần lưu trữ tệp ở các vị trí chung, hãy xem xét sử dụng MediaStore API.
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Noteeditor"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Noteeditor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.noteeditor.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>
